<nav class="navbar navbar-default navbar-fixed-left" role="navigation">
  <ul class="nav navbar-nav">
    {% comment %}
    {% for link in site.navigation %}
      {% assign current = '' %}
      {% if page.url == link.url %}
        {% assign current = 'active' %}
      {% endif %}
      <li class="{{ current }}">
        <a href="{{ link.url }}">{{ link.text }}</a>
      </li>
    {% endfor %}
    {% endcomment %}

    <li>
      <!-- JAVASCRIPT to clear search text when the field is clicked -->
      <script type="text/javascript">
      window.onload = function(){
      	//Get submit button
      	var submitbutton = document.getElementById("tfq");
      	//Add listener to submit button
      	if(submitbutton.addEventListener){
      		submitbutton.addEventListener("click", function() {
      			if (submitbutton.value == 'Search our website'){//Customize this text string to whatever you want
      				submitbutton.value = '';
      			}
      		});
      	}
      }
      </script>
      <!-- CSS styles for standard search box with placeholder text-->
      <style type="text/css">
      	#tfheader{
      		background-color:#c3dfef;
      	}
      	#tfnewsearch{
      		float:right;
      		padding:20px;
      	}
      	.tftextinput4{
      		margin: 0;
      		padding: 6px 15px;
      		font-family: Arial, Helvetica, sans-serif;
      		font-size:14px;
      		color:#666;
      		border:1px solid #0076a3; border-right:0px;
      		border-top-left-radius: 5px 5px;
      		border-bottom-left-radius: 5px 5px;
      	}
      	.tfbutton4 {
      		margin: 0;
      		padding: 0;
      		width:30px;
      		height:30px;
      		font-family: Arial, Helvetica, sans-serif;
      		font-size:14px;
      		font-weight:bold;
      		outline: none;
      		cursor: pointer;
      		text-align: center;
      		text-decoration: none;
      		color: #ffffff;
      		border: solid 1px #0076a3; border-right:0px;
      		border-top-right-radius: 5px 5px;
      		border-bottom-right-radius: 5px 5px;
      		background: #438db8 url('tf-search-icon.png');
      	}
      	/* Fixes submit button height problem in Firefox */
      	.tfbutton4::-moz-focus-inner {
      	  border: 0;
      	}
      	.tfclear{
      		clear:both;
      	}
      </style>
      </head>
      <body>
      	<!-- HTML for SEARCH BAR -->
      	<div id="tfheader">
      		<form id="tfnewsearch" method="get" action="http://www.google.com">
      		        <input type="text" id="tfq" class="tftextinput4" name="q" size="21" maxlength="120" value="Search our website"><input type="submit" value=" " class="tfbutton4">
      		</form>
      		<div class="tfclear"></div>
      	</div>

    </li>
    <li><a href="{{ site.baseurl }}/">Home</a></li>
    </li>
    <li>
      <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}" class="icon">Glossary repository</a>
    </li>
    <li>
      <a href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/issues/" class="icon">Comments</a>
      <a href="{{ site.baseurl }}/comment_help.html" class="icon icon-fa">
        <i class="fa fa-question-circle" title="Get help with leaving a comment" aria-hidden="true"></i>
        <span class="sr-only">Get help with leaving a comment</span>
      </a>
    </li>
  </ul>
</nav>
